.busqueda .contenedor{
    height: 55px;
    background: #fff;
    position: relative;
    /*z-index: -1;*/
}
.busqueda ul{
    display: flex;
    list-style-type:none;
    /*float: right;*/
    position: absolute;
    top:50%;
    right: 0%;
    transform: translateY(-50%)
}

.busqueda li{
    background: none;
    padding: 3px 10px;
}