#productos{
    background-image: url(/IMG/Texture-service.png);
}

#productos .contenedor{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contenedor .imag-producto{
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 35%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    /*border-radius: 10px;
    border: 1px solid rgb(39,172,174);*/
}

#productos img{
    width: 85%;
    margin-top: 5px;
}

#productos h1{
    font-size: 100%;
}

#productos h6{
    font-size: 70%;
}

#productos .contenedor a {
    text-decoration: none;
    color: #706f6f;
}
#productos .imag-producto h1,h6 {
    margin-top: 20px;
}

@media (min-width:500px){

    .contenedor .imag-producto{
    width: 25%;
    }   
}

@media (min-width:700px){

    .contenedor .imag-producto{
    width: 18%;
    }   
}