.tarjeta{
        /*shadow*/
    background-color: white;
    box-shadow: 10px 10px 70px #888888;
    /*borde*/
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 2vw;
    padding: 20px;
}

.globo{
    width: 40px !important;
    position: relative;
    left: -50px;
    top: -30px;
}