.cubierta{
	padding: 2vh;
	border: solid 1px;
	border-color: lightgray;
}

.titulo{
	font-size: 1.9vh;
}

.margenIzquierda{
	margin-left: 6vw !important;
}

.centrar{
	text-align: center;
	
}